# OCR settings
OCR_LANGUAGE=eng+rus

# Interval between screen captures (in seconds)
CAPTURE_INTERVAL=10

# Ollama settings
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=deepseek-coder:6.7b

# Monitor bounding boxes (left, upper, right, lower)
LEFT_MONITOR_BBOX=0,0,2560,1440
RIGHT_MONITOR_BBOX=2560,0,5120,1440

# Enable smart capture (True/False)
SMART_CAPTURE=False

# New variable MONITOR_BBOXES
MONITOR_BBOXES=ctrl+1:0,0,2560,1440;ctrl+2:2560,0,5120,1440